//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
extends layout_portal

block Subject
	title= "웹으로 즐기는 끝말잇기 온라인 게임! 도토리끄투"

block CSS
	link(rel='stylesheet', href='/css/in_kkutu.css')

block Middle
	+separator(5)
	div#mainbg
	div#djj
		div#main-top
			div#notice
				include ../public/portal_notice.html
			div#portalbgm
				div#bgmlicense
					a(href='https://www.youtube.com/watch?v=BNOdTsBTre8' target='_blank')= '끄투온라인 로비 배경음악(bgm) 편곡'
				audio#bgm(src='/media/PortalBGM.mp3' controls loop)
		div#banner
			div#moon(onclick="window.open('about:blank').location.href='https://kkutu.kr';" style='cursor: pointer;')
				//- div#daldalso
			div#banner-title= ''
		div#join
			div(style='width: 280px; height: 285px; border-radius: 10px; box-shadow: 0px 0px 20px 0px #00000044;')
				button#game-start= L('gameStart')
				div.server-list-box
					h3.server-list-title
						a#server-refresh
							+FA('refresh')
							+Expl(L('serverRefresh'))
						label= L('serverList')
						label#server-total(style='color: #444; font-size: 13px;')
					div#server-list
	div#update
		div.title-box
			div.list-title(onclick="window.open('about:blank').location.href='https://daldal.so/w/참나무/도토리끄투'")= '업데이트'
		div#update-list
			div#ud1.update-item(onclick="window.open('about:blank').location.href='https://daldal.so/w/참나무/도토리끄투/2'")
				div.update-title= 'v1.1.0 업데이트'
			div#ud2.update-item
			div#ud3.update-item
			div#ud4.update-item
			div#ud5.update-item
	div#youtube
		div.title-box
			div.list-title= '유튜브'
		div#youtube-list
			iframe.youtube-item(src='https://www.youtube.com/embed/e0iD7WXYFBU' style='margin-right: 10px;')
			iframe.youtube-item(src='https://www.youtube.com/embed/e0iD7WXYFBU')
	+separator(10)